SPRING_PROFILES_ACTIVE=prod
SERVER_PORT=8001
SPRING_MONGODB_URI=mongodb://<usuario>:<password>@<host>:27017/organiflow?authSource=admin
SPRING_MONGODB_DATABASE=organiflow
APP_JWT_SECRET=cambia-esta-clave-por-una-larga
APP_JWT_EXPIRATION=10800000
APP_JWT_REFRESH_EXPIRATION=604800000
APP_CORS_ALLOWED_ORIGIN_PATTERNS=https://tu-dominio.com,http://tu-dominio.com
APP_FIREBASE_CREDENTIALS=/opt/organiflow/secrets/firebase-adminsdk.json
CORS_ORIGINS=https://tu-dominio.com,http://tu-dominio.com
OPENROUTER_API_KEY=tu-openrouter-api-key
